/* import font google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}
/* untuk header */
header {
  z-index: 999;
  position: fixed;
  background-color:none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}
header .brand {
  color: blanchedalmond;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: -160px;

}

header .navigasi {
  position: relative;
  margin-right: -60px;
}

header .navigasi a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-left: 30px;

}
header .navigasi a:hover {
  color: #3a6cf4;
}

body {
  min-height: 110vh;
  background: #2E8B57;
}

/* h4 secara umum */
h4 {
  color: white;
}
/* home */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

/* pengertian */
.wrapper {
  margin: 150px;
  width: 70%;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.text-box {
  color: white;
}

.text-box h2 {
  font-size: 40px;
}

.text-box p {
  font-size: 15px;
}




/* masalah */

.wrapper2 {
  margin: 150px;
  width: 70%;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.text-box {
  color: white;
}


.text-box h2 {
  font-size: 40px;


}

.text-box p {
  font-size: 15px;

}


/* jenis */
.wrapper3 {
  margin: 150px;
  width: 200%;
  margin-left: -200px;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.text-box {
  color: white;
}

.text-box h2 {
  font-size: 40px;
}

.text-box p {
  font-size: 15px;
}

/* solusi inspirasi */
.wrapper4 {
  margin: 150px;
  width: 200%;
  margin-left: -200px;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.text-box {
  color: white;
}

.text-box h2 {
  font-size: 40px;
}

.text-box p {
  font-size: 15px;
}
video {
float: center;
margin-top: 20px;
margin-bottom: 500px;
width: 800px;
margin-right: 100px;
margin-left: 10%;

}






/* kontak */
.wrapper5 {
  margin: 150px;
  width: 200%;
  margin-left: -200px;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

.text-box {
  color: white;
}

.text-box h2 {
  font-size: 40px;
}

.text-box p {
  font-size: 15px;
}



